.amazing {
    padding-top: 15px;
}

div .amazing > ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 3rem;
    display: grid;
    margin-top: 2.5rem;
    position: relative;
    padding-bottom: 50px;
}

div .amazing > p {
    display: none;
}

@media (max-width: 768px) {
    div .amazing > ul {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

div .pagination2 > ul {
    display: flex;
    font-size: 1.7em;
}

div .pagination2 > ul > li {
    margin: 5px 7px 5px 7px;
    width: 35px;
    height: 35px;
    border: solid 1px #cdcdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

div .pagination2 > ul > li .current {
    background-color: #fed100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

@media (max-width: 768px) {
    div .pagination2 > ul {
        font-size: 1em;
    }
    div .pagination2 > ul > li {
        margin: 5px 3px 5px 3px;
        width: 20px;
        height: 20px;
    }
    div .pagination2 > ul > li .current {
        width: 18px;
        height: 18px;
    }
}

div .r-filter {
    display: flex;
    justify-content: center;
    border: none;
    padding-bottom: 0px;
}

div .r-filter > button {
    background-color: #fed100 !important;
    width: 70% !important;
    height: 45px;
    border-radius: 6px !important;
    border: none !important;
}

div .order_tracking {
    display: flex;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }
    div .order_tracking {
        display: block;
    }
}

.wa_top {
    font-size: 24px !important;
    color: #7b7b7b !important;
    margin-bottom: 27px !important;
}

.wa_head {
    font-size: 52px !important;
    margin-bottom: 17px !important;
}

.wa_head_u {
    font-size: 24px !important;
    font-weight: 400;
    text-decoration: underline #fed100 6px;
    text-underline-position: under;
    margin-bottom: 22px !important;
}

.wa_button {
    background-color: #F6412D;
    width: 92px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    height: 28px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: width 1s;
}

.wa_button:hover {
    width: 100%;
}

div .wa_box > img {
    width: 80px;
    height: 80px;
    background-color: #f6412d;
    border-radius: 20px;
    padding: 11px;
    margin-left: 23px;
}

div .wa_num {
    display: block;
    position: relative;
    direction: rtl;
    right: 45px;
    top: 25px;
    background-color: #fed100;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    font-weight: bolder;
    font-size: x-large;
}

.wa_p_15 {
    background-color: #fdd1cd;
    border-radius: 8px;
    padding: 30px;
    margin: 40px 5px;
}

.wa_p_16 {
    width: 83%;
}

.chat_whatsapp {
    direction: ltr;
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    font-size: 6rem;
    z-index: 99999;
    transition: width 1s, height 1s, transform 1s;
}

.chat_whatsapp:hover {
    transform: rotate(360deg);
}

.my-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .wa_top {
        font-size: 20px !important;
        font-weight: 300;
        color: #7b7b7b !important;
    }

    .wa_head {
        font-size: 33px !important;
        line-height: 0rem !important;
    }

    .wa_head_u {
        font-size: 16px !important;
        font-weight: bold;
        text-decoration: underline #fed100 6px;
        text-underline-position: under;
        padding-top: 5px;
    }

    .wa_desc {
        font-size: 25px !important;
        text-align: right;
        line-height: 40px !important;
        color: #000000 !important;
        margin-bottom: 5px !important;
    }

    .wa_p_15 {
        padding: 15px !important;
        width: 100% !important;
        margin: 5px 0px;
    }

    .wa_p_15 .wp-block-column {
        padding-bottom: 20px !important;
    }

    .wa_p_16 {
        width: 100%;
        text-align: center;
    }

    .slide_frame {
        padding: 15px 0px !important;
        width: 100%;
        margin: 5px 0px;
        align-self: center;
        position: absolute;
        right: 0px;
    }

    .slide_up_columns {
        max-width: 100%;
        overflow: auto;
    }

    .slide_columns {
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-bottom: 0px;
    }

    .with790 {
        width: 790px;
    }

    .with400 {
        width: 400px;
    }

    div .wa_num {
        right: 30px;
        top: 16px;
    }

    div .wa_box > img {
        width: 50px;
        height: 50px;
        background-color: #f6412d;
        border-radius: 20px;
        padding: 8px;
        margin: 0px 0px 0px 10px;
    }

    div .wa_box > p {
        font-size: 27px;
        font-weight: bold;
        padding-top: 17px;
        line-height: 38px;
        margin-bottom: 2rem;
    }

    div .wa_box > p > span {
        font-weight: 500;
        font-size: 16px;
    }

    .arrow_before:before {
        content: '';
        display: block;
        max-width: 22px;
        width: 22px;
        height: 17px;
        margin: 0px;
        position: relative;
        top: 68px;
        right: 120px;
        background-image: url(https://artaelectric.ir/wp-content/uploads/svg/arrow.svg);
    }

    .arrow_after:before {
        content: '';
        display: block;
        max-width: 22px;
        width: 22px;
        height: 17px;
        margin: 0px;
        position: relative;
        top: 68px;
        right: 120px;
    }

    #order_review {
        padding: 1rem !important;
    }

    .jashnvare {
        width: 130px !important;
        height: 125px !important;
    }

    .chat_whatsapp {
        bottom: 2rem;
        left: 2rem;
    }

    .md-pb-1 {
        padding-bottom: 1rem;
    }

    .woocommerce-breadcrumb {
        height: 64px;
    }
}
