.amazing {
    padding-top: 15px;
}

div .amazing > ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 3rem;
    display: grid;
    margin-top: 2.5rem;
    position: relative;
    padding-bottom: 50px;
}

div .amazing > p {
    display: none;
}

@media (max-width: 768px) {
    div .amazing > ul {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}