.h-232 {
	@media screen and (min-width: 1024px) {
		height: 23.2rem;
	}
}
.h-234 {
	height: 23.4rem;
}
.w-165 {
	width: 16.5rem;
}
.w-405 {
	@media screen and (min-width : 1024px) {
		width: 40.5rem;
	}
}
.h-427 {
	@media screen and (min-width : 1024px) {
		height: 42.7rem;
	}
}
.translate-x-half {
	transform: translateX(-50%);
}

.h-185 {
	@media screen and (min-width : 1024px) {
		height: 18.5rem;
	}
}
.left-gray {
	background: linear-gradient(to right , rgba(242,242,242, 1) ,transparent);
}

.right-gray {
	background: linear-gradient(to left , rgba(242,242,242, 1) ,transparent);
}
